<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cognibyte"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".Account.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Create Account Activity -->
        <activity
            android:name=".Account.CreateAccountActivity"
            android:exported="true" />

        <!-- Login Activity -->
        <activity
            android:name=".Account.LoginActivity"
            android:exported="true" />

        <!-- Language Selection Activity -->
        <activity
            android:name=".Account.LanguageSelectionActivity"
            android:exported="true" />

        <!-- Home Activity -->
        <activity android:name=".HomePage.HomeActivity"
                  android:exported="true" />

        <!-- Profile Activity -->
        <activity
        android:name=".HomePage.ProfileActivity"
        android:exported="true" />

        <!-- settigns Activity -->
        <activity
            android:name=".HomePage.SettingsActivity"
            android:exported="true" />

        <!-- stats Activity -->
        <activity
            android:name=".HomePage.Stats.StatsActivity"
            android:exported="true" />

        <!-- lesson Activity -->
        <activity
            android:name=".HomePage.ChapterActivity"
            android:exported="true" />

        <!-- lesson Page Activity -->
        <activity
            android:name=".ChapterPage.LessonPageActivity"
            android:exported="true" />

        <!-- Quiz Page Activity -->
        <activity
            android:name=".ChapterPage.Quiz.QuizActivity"
            android:exported="true" />

        <!-- Code Quiz Page Activity -->
        <activity
            android:name=".ChapterPage.CodeQuiz.CodeQuizActivity"
            android:exported="true" />

        <!-- Code Quiz Page Activity -->
        <activity
            android:name=".ChapterPage.CodeQuiz.SelectCodeQuizActivity"
            android:exported="true" />

        <!-- Code Quiz homepage Page Activity -->
        <activity
            android:name=".ChapterPage.CodeQuiz.WeeklyQuizActivity"
            android:exported="true" />

        <!-- SkillLevel Activity -->
        <activity
            android:name=".Account.SkillLevelActivity"
            android:exported="true" />


        <!-- select admin Activity -->
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="true" />


        <!-- select GenerateQuiz Activity -->
        <activity
            android:name=".Admin.GenerateQuizActivity"
            android:exported="true" />


        <!-- select Generate Chapters Activity -->
        <activity
            android:name=".Admin.GenerateChaptersActivity"
            android:exported="true" />

        <!-- select view Content Activity -->
        <activity
            android:name=".Admin.ViewChapterContentActivity"
            android:exported="true" />


        <activity
            android:name=".Admin.ViewQuizContentActivity"
            android:exported="true" />


        <!--  Language Activity -->
        <activity
            android:name=".HomePage.Language.LanguageActivity"
            android:exported="true" />

        <!-- Add Language Activity -->
        <activity
            android:name=".HomePage.Language.AddLanguageActivity"
            android:exported="true" />

        <!-- Change Language Activity -->
        <activity
            android:name=".HomePage.Language.ChangeLanguageActivity"
            android:exported="true" />

        <!-- Weekly Recap Activity -->
        <activity
            android:name=".ChapterPage.CodeQuiz.WeeklyRecapActivity"
            android:exported="true" />

        <activity
            android:name=".ChapterPage.LessonActivity"
            android:exported="true" />

        <!--  Recap Page -->
        <activity
            android:name=".HomePage.Recap.RecapActivity"
            android:exported="true" />

        <!--  Recap Lesson Page -->
        <activity
            android:name=".HomePage.Recap.LessonRecapActivity"
            android:exported="true" />

        <!--  Recap Quiz Page -->
        <activity
            android:name=".HomePage.Recap.QuizRecapActivity"
            android:exported="true" />

        <!--  full Quiz Page -->
        <activity
            android:name=".HomePage.Recap.FullQuizRetakeActivity"
            android:exported="true" />

        <!--  stats Page -->
        <activity
            android:name=".HomePage.Stats.StatsPageActivity"
            android:exported="true" />

        <!-- quiz stats Page -->
        <activity
            android:name=".HomePage.Stats.QuizStatsActivity"
            android:exported="true" />

        <!-- manage language Page -->
        <activity
            android:name=".HomePage.ManageLanguageActivity"
            android:exported="true" />

        <!-- View courses  Page -->
        <activity
            android:name=".HomePage.ViewCoursesActivity"
            android:exported="true" />
    </application>

</manifest>





